@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #4d4d56;
  --main: #a29061;
  --yellowrod: #ded7c7;
  --blue: #0d314e;
  --yellowdask: #d9d9d9;
  --black2: #474747;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Open Sans, Roboto, sans-serif;
}

.norepet {
  background-size: cover;
  background-repeat: no-repeat;
}
